{% extends "main.html" %}


    
    {% block titulo %}
    <title>Generos</title>
    {% endblock titulo %}


    {% block contenido %}
    <h1>GENEROS</h1>

    <a href="{% url 'lista_generos' %}" >Ver todos</a>
    <a href="{% url 'crear_genero' %}" >Crear Genero</a>
<br><br>
    <form action="{% url 'buscar_generos' %}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda">
        <input type="submit" value="Buscar genero">
    </form>
    <br>
    <table class="table">
        {% for gen in generos  %} 
        <tr>
            <td>{{gen.nombre }}</td>
            <td>{{gen.cantidad }}</td>
            
        </tr>



    {% endfor %}
    </table>
    
    
    {% endblock contenido %}
   