{% extends "main.html" %}


    
    {% block titulo %}
    <title>Posteos</title>
    {% endblock titulo %}


    {% block contenido %}
    <h1>POSTS</h1>

    

    <a href="{% url 'crear_posteo' %}" >Crear Post</a>
<br><br>
{% if posteos|length == 0 %}


<h3> No hay Articulos aun <h3>
    
    {% else %}
    <a href="{% url 'lista_posteos' %}" >Ver todos los post</a>    
   
    <br>
 
       <ul>

      
       
            
        {% for post in posteos  %}

        

        
        
    
        

        
        
        
        <li>
            
            <h2>{{post.titulo }}  </h2><p>{{post.fecha }}</p>
           
            <p>{{post.content | truncatewords:2 }}</p>

            <a href="{% url 'ver_posteo' post.id %}">Leer más</a>



            
            <p>
                {% if user == post.creador   %}
                <a class= "btn btn-link" href= "{% url 'editar_posteo' post.id  %}" > editar </a>
                {% endif %}
            </p>
            <p>{% if user == post.creador   %}
                <form action="{% url 'eliminar_posteo' post.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-link" value="eliminar"  />
                </form>
            </p>
        </li>        
                {% endif %}
        
         </ul>

         
        
    {% endfor %}
    
    {% endif %}
    {% endblock contenido %}
   