{% extends "main.html" %}


    
    {% block titulo %}
    <title>Posteos</title>
    {% endblock titulo %}


    {% block contenido %}
    

    <a href="{% url 'lista_posteos' %}" >Ver todos los post</a>
 
    <a href="{% url 'crear_posteo' %}" >Crear Post</a>
<br><br>
      <br>
 
       <ul>
        
        
        <li>
            
            <h1>{{articulo.titulo }}  </h1><p>{{articulo.fecha }}</p>
           
            <p>{{articulo.content }}</p>
            
            <p>
                {% if user == articulo.creador   %}
                <a class= "btn btn-link" href= "{% url 'editar_posteo' post.id  %}" > editar </a>
                {% endif %}
            </p>
            <p>{% if user == articulo.creador   %}
                <form action="{% url 'eliminar_posteo' post.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-link" value="eliminar"  />
                </form>
            </p>
        </li>        
                {% endif %}
        
         </ul>



    
    
    
    {% endblock contenido %}
   